.share-button-container {
    margin-top: 5px;
}

.share-button {
    padding: 10px 20px;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.share-button:hover {
    background-color: #005fa3;
}

.share-icon {
    font-size: 15px;
    color: #8a8989;
    cursor: pointer;
    transition: all 0.3s ease;
}

.share-icon:hover {
    color: #424242; 
    
}