.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s ease
    
    
}

.whatsapp-icon {
    width: auto;
    color: rgb(6, 160, 6);
    font-size: 45px;
    transition: transform 0.3s ease;
}

.whatsapp-btn:hover .whatsapp-icon {
    color: rgb(4, 189, 4);
    transform: scale(1.3);
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(-15px);
    }

    50% {
        transform: translateY(0);
    }

    70% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}


.jump {
    animation: jump 0.6s ease; }