.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1000;
    
    
}

.whatsapp-icon {
    width: auto;
    color: rgb(3, 117, 3);
    font-size: 35px;
    transition: transform 0.3s ease;
}

.whatsapp-btn:hover .whatsapp-icon {
    color: rgb(4, 189, 4);
    transform: scale(1.3);
}